extends ../layout

block content
  h2 Lista de Pacientes
  a(href="/pacientes/nuevo") Nuevo Paciente
  br
  br

  if error
    p(style="color:red")= error

  if pacientes && pacientes.length
    ul
      each p in pacientes
        li
          strong #{p.nombre} #{p.apellido}
          |  – DNI: #{p.dni}, Email: #{p.email}, Teléfono: #{p.telefono}, OS: #{p.obraSocial} 
          
          a(href=`/pacientes/editar/${p.id}`) Editar
          form(action=`/pacientes/eliminar/${p.id}?_method=POST`, method="post", style="display:inline")
            button(type="submit") Eliminar
  else
    p No hay pacientes registrados.
