extends ../layout

block content 
  h2  Lista de Insumos
  a(href="/insumos/nuevo") Nuevo insumo

  if insumos.length
    table(border="1")
      thead
        tr
          th Nombre
          th Categoría
          th Stock
          th Unidad
          th Fecha de vencimiento
          th Estado
          th Acciones
      tbody
        each insumo in insumos
          tr(style=insumo.estado === 'vencido' || insumo.estado === 'agotado' ? 'background-color:#fdd' : '')
            td= insumo.nombre
            td= insumo.categoria
            td= insumo.stock
            td= insumo.unidad
            td= insumo.fechaVencimiento
            td= insumo.estado
            td
              a(href=`/insumos/editar/${insumo.id}`) Editar
              |  
              form(action=`/insumos/eliminar/${insumo.id}?_method=DELETE`, method="POST", style="display:inline")
                button(type="submit") Eliminar
  else
    p No hay insumos registrados
